<lasso-page package-path="./browser.json"/>
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Home | Lasso.js Demo</title>
        <lasso-head/>
    </head>
    <body>
        <h1>Home | Lasso.js Demo</h1>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
        </ul>
        <lasso-body/>
    </body>
</html>
